@font-face {
  font-family: 'iconfont';
  /* Project id 3356527 */
  src: url("//at.alicdn.com/t/font_3356527_j5mcdwt803f.woff2?t=1650864750630") format("woff2"), url("//at.alicdn.com/t/font_3356527_j5mcdwt803f.woff?t=1650864750630") format("woff"), url("//at.alicdn.com/t/font_3356527_j5mcdwt803f.ttf?t=1650864750630") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
